.header-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 40px;
}

.hero-banner {
  background-color: #f3f3f3;
  border-radius: 48px;
  padding: 24px;
  text-align: center;
  box-shadow: 0 4px 8px #3c3c3c40;
}

.hero-subtitle {
  display: block;
  font-size: 0.64rem;
  color: #7a7a7a;
  letter-spacing: 1px;
  margin-bottom: 16px;
}

.hero-title {
  font-size: 1.5rem;
  color: #555;
  font-weight: 400;
  line-height: 1.4;
  margin: 0;
}

.highlight-green {
  color: #1a7a4c;
  font-weight: 600;
}

.highlight-green {
  color: #107839;
}

.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f4;
    border-radius: 24px;
    padding: 16px;
    width: 100%;
    border: 1px solid #e0e0e0;
    box-shadow: 0 4px 8px #3c3c3c40;


    transition: opacity 0.3s ease;
}

.search-container:focus-within {
  background-color: transparent;
}

.search-icon{
    width: 16px;
    height: 16px;
    color: #107839;
}

.search-input {
  border: none;
  background: transparent;
  font-size: 1rem;
  color: #107839;
  width: 100px; 
  outline: none;
  text-align: center;
}

.search-input::placeholder {
    color: #107839;
}