.editais {
  padding: 40px;
}

.editais-carousel {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  padding-bottom: 10px;

  scroll-snap-type: x mandatory;
}

.editais-carousel::-webkit-scrollbar {
  height: 8px;
}

.editais-carousel::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

.edital-card {
  min-width: 320px;
  max-width: 320px;
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);

  scroll-snap-align: start;
}
